html,body{
	      height: 100%;
              margin:0;
              width:100%;
	      }

div.big{ 
	    width:80%;
        height:80%;
        text-align: center;
        left:10%;
        top: 10%;
        position:relative;
        font-size:0;
       }

div.small{
	       width:31%;
	       height:31%;
	       margin:.8%;
	       background-color:red;
	       display:inline-block;
	       border-radius:12%;
	     }
