html,body{
          height:100%;
          width:100%;
          margin:0;
          }

div.big{
	    width:80%;
	    height:80%;
	    left:11%;
	    top:11%;
	    position: absolute;
        }

div.small{
	      width:31%;
	      height:31%;
	      background-color:red;
	      border-radius:12%;
	      margin:.8%;
	      float:left;
         }